* {

    padding: 0;

    margin: 0;

    border: 0;

    list-style: none;

    text-decoration: none;

    outline: none;

    font-family:"helvetica neue", "Microsoft YaHei", sans-serif;

}

a{

    color: #444;

}

body {

    background:#fff;

    min-width:1100px;

    color: #444;

    font-size: 13px;

}



a:hover {

    color: #1789d0;

}



.warrper, .con {

    width: 1018px;

    margin: 0 auto;

}



.con {

    padding: 0 9px;

    width: 1000px;

}



.row {

    width: 100%;

}



.col-1 {

    width: 321px;

    float: left;

    padding: 0 9px;

}



.col-2 {

    width: 660px;

    float: left;

    padding: 0 9px;

}



.col-3 {

    padding: 0 9px;

}



.hr30 {

    height: 30px;

    width: 100%;

    overflow: hidden;

    clear: both;

}



.hr10 {

    height: 10px;

    width: 100%;

    overflow: hidden;

    clear: both;

}



.fl {

    float: left;

    vertical-align: middle;

}



.fr {

    float: right;

    vertical-align: middle;

}



.header nav {

    width: 100%;

    background: rgba(0, 0, 0, 0.5);

    color: #fff;

    height: 48px;

    position: absolute;

    left: 0;

    top: 0;

    z-index: 999;

}



.header {

    width: 100%;

    background: #0f304c;

    height: 170px;

    position: relative;

}



.header > .con {

    background: url("../image/headbg.jpg") no-repeat right top;

    height: 169px;

    padding-top: 1px;

}



.header > .con .logo {

    margin-top: 85px;

    display: block;

    width: 260px;

    height: 47px;

    line-height: 500px;

    overflow: hidden;

    background: url("../image/logo.png") top center no-repeat;

    float: left;

}



.header nav ul li {

    float: left;

    position: relative;

    height: 48px;

    line-height: 48px;

    vertical-align: middle;

}



.header nav ul li a i {

    margin-left: 3px;

    line-height: 25px;

    vertical-align: text-bottom;

}



.header nav ul li a {

    height: 48px;

    display: block;

    padding: 0 15px;

    overflow: hidden;

}



.header nav ul li a {

    color: #fff;

}



.header .sublist {

    position: absolute;

    top: 48px;

    left: 0;

    overflow: hidden;

    display: none;

    border-radius: 5px;

}



.header .sublist li {

    background: #000;

    margin-right: 0;

    display: block;

    float: none;

    white-space: nowrap;

    padding: 5px 0;

    line-height: 30px;

    height: 30px;

    overflow: hidden;

    min-width: 100px;

}



.header .sublist li a {

    display: block;

    font-size: 12px;

}



.header li a:hover {

    color: #1789d0;

}



.mainlist > li:hover {

    background: #000;

}



.searchform .classlist {

    height: 30px;

    border-radius: 5px;

    width: 50px;

    line-height: 30px;

    padding-left: 20px;

    display: block;

    float: left;

    margin-right: 2px;

    background: rgba(255, 255, 255, 0.9) url("../image/arrow_dowm.png") no-repeat 5px top;

    cursor: pointer;

}



.searchform {

    margin-top: 90px;

    position: relative;

    z-index: 999;

}



.searchform .classlist ul {

    background: #fff;

    overflow: hidden;

    width: 70px;

    margin-left: -20px;

    border-radius: 5px;

    text-align: center;

    display: none;

    box-shadow: 1px 2px 5px #666;

}



.searchform .classlist ul li:hover {

    background: #f1f1f1;

}



.searchform .classlist:hover {

    background: rgba(255, 255, 255, 1) url("../image/arrow_dowm.png") no-repeat 5px top;

    cursor: pointer;

    box-shadow: 1px 2px 5px #000;

}



.searchform input {

    width: 200px;

    height: 24px;

    padding: 3px 10px;

    border-radius: 5px 0 0 5px;

    background: rgba(255, 255, 255, 0.9);

    float: left;

}



.searchform button {

    width: 35px;

    border-radius: 0 5px 5px 0;

    float: left;

    height: 30px;

    background: rgba(255, 255, 255, 0.9) url("../image/search.png") top left no-repeat;

    background-size: 30px 30px;

    cursor: pointer;

}



.toolslist {

    width: 100%;

    overflow: hidden;

    margin-bottom: 10px;

    vertical-align: middle;

}





.toolslist h3 {

    padding: 5px 15px;

    background: #f1f1f1;

    float: left;

    border-radius: 8px;

    font-weight: normal;

}



.toolslist li {

    float: left;

    margin-left: 20px;

    line-height: 28px;

}



.toolslist li a {

    color: #666;

}



.toolslist li .hot {

    color: red;

}



.toolslist a:hover {

    color: #1789d0;

}



.green {

    background: #6c8756 !important;

    color: #fff;

}



.yellow {

    background: #f3b356 !important;

    color: #fff;

}



.blue {

    background: #7fa6ff !important;

    color: #fff;

}



.footer {

    width: 100%;

    background: #adadad;

    color: #666;

    padding-top: 1px;

    padding: 30px 0;

}



.footer .con > div {

    float: left;

    margin-left: 20px;

}



.footer .con {

    padding-top: 1px;

}



.footer .logo2 {

    margin-top: 18px;

}



.footer .media > div {

    float: left;

    text-align: center;

    width: 90px;

    margin-right: 10px;

}



.footer .media > div > i {

    width: 50px;

    height: 50px;

    display: block;

    background: url("../image/icons.png");

    margin: 0 auto;

}



.footer .media > div i.wx {

    background-position: top center;

}



.footer .media > div i.qq {

    background-position: top right;

}



.footer .info p {

    margin-bottom: 8px;

}



.footer .media {

    float: right !important;

}



.footer .detal {

    display: none;

}



.banner {

    width: 100%;

    height: 230px;

    background: #f1f1f1;

    position: relative;

    border-radius: 10px;

    overflow: hidden;

}



.banner li img {

    width: 100%;

    height: 100%;

}



.banner li {

    width: 660px;

    height: 230px;

    position: absolute;

    top: 0;

    left: 0;

}



.banner .actionboar {

    background: rgba(0, 0, 0, 0.7);

    color: #fff;

    height: 35px;

    position: absolute;

    line-height: 35px;

    bottom: 0;

    width: 100%;

    left: 0;

    overflow: hidden;

}



.banner .actionboar .tit {

    width: 450px;

    text-overflow: ellipsis;

    white-space: nowrap;

    overflow: hidden;

    padding-left: 15px;

    color: #fff;

}



.banner .actionboar .point i {

    display: inline-block;

    margin-right: 10px;

    border-radius: 50%;

    height: 10px;

    width: 10px;

    background: #fff;

    opacity: 0.3;

}



.banner .actionboar .point .active {

    background: #1789d0;

    opacity: 1;

}



.tabbox {

    width: 100%;

}



.tabbox .tabnav h2 {

    width: 216px;

    height: 40px;

    float: left;

    line-height: 30px;

    text-align: center;

    margin-right: 6px;

    background: url("../image/tabnav.png") no-repeat right top;

    color: #fff;

    font-weight: normal;

}



.tabbox .tabnav h2 a {

    color: #fff;

}



.tabbox .tabnav .active {

    background: url("../image/tabnav.png") no-repeat;

}



.tabbox .tabnav h2:last-child {

    margin-right: 0;

}



.tabbox .tabitem li {

    width: 50%;

    float: left;

    padding: 6px 0;

}



.tags-map, .tags-mod, .tags-skin {

    width: 35px;

    font-style: normal;

    color: #fff;

    text-align: center;

    font-size: 12px;

    background: #03a7b1;

    display: inline-block;

    margin-right: 5px;

    height: 18px;

    line-height: 18px;

}



.tags-mod {

    background: #ff7e00;

}



.tags-skin {

    background: #07bb6d;

}



.tabbox .tabitem li span {

    color: #999;

    font-size: 12px;

    float: right;

    margin-right: 15px;

    margin-top: 4px;

}



.tabbox .tabitem li span i {

    color: #ccc;

}



.tabbox .tabitem li .linklist {

    width: 210px;

    text-overflow: ellipsis;

    overflow: hidden;

    white-space: nowrap;

    display: inline-block;

    vertical-align: middle;

}



.downloadlist {

    white-space: normal;

}



.downloadlist li {

    display: block;

    border-radius: 10px;

    overflow: hidden;

    height: 85px;

    width: 100%;

    margin-bottom: 10px;

}



.downloadlist .half {

    width: 155px;

    float: left;

}



.downloadlist .tg {

    height: 125px;

}



.downloadlist .half img {

    width: 100%;

    height: 100%

}



.downloadlist .half:nth-child(odd) {

    margin-right: 10px !important;

}



.pic-tit {

    height: 70px;

    position: relative;

    padding-left: 85px;

    width: 575px;

    clear: both;

}



.pic-tit .fr {

    margin-top: 35px;

    padding: 3px 10px;

    border-radius: 5px;

    border: 1px solid #ddd;

}



.pic-tit h2 {

    display: inline-block;

    font-size: 24px;

    font-weight: normal;

    color: #333;

    margin-top: 30px;

    float: left;

}



.pic-tit a {

    margin-left: 15px;

}



.pic-tit .fl {

    overflow: hidden

}



.pic-tit .fl a {

    height: 25px;

    display: inline-block;

    float: left;

    margin-top: 35px;

}



.pic-tit .fl .active {

    border-bottom: 1px solid #1789d0;

    background: url(../image/arrow_up2.png) bottom center no-repeat;

    color: #1789d0

}



.pic-tit i {

    width: 85px;

    height: 125px;

    display: inline-block;

    position: absolute;

    top: 0;

    left: 0;

    z-index: -1;

}



.pic-tit .pic-tit-1 {

    background: url(../image/titpic1.png) top center no-repeat;

}



.pic-tit .pic-tit-2 {

    background: url(../image/titpic2.png) top center no-repeat;

}



.pic-tit .pic-tit-3 {

    background: url(../image/titpic3.png) top center no-repeat;

}



.pic-tit .pic-tit-4 {

    background: url(../image/titpic4.png) top center no-repeat;

}



.pic-tit .pic-tit-5 {

    background: url(../image/titpic5.png) top center no-repeat;

}



.pic-tit .pic-tit-6 {

    background: url(../image/titpic6.png) top center no-repeat;

}



.layout-a {

    overflow: hidden;

    width: 680px;

    margin-top: 5px;

}



.layout-a li {

    width: 150px;

    float: left;

    margin-right: 20px;

    float: left;

    margin-bottom: 15px;

    height: 136px;

}



.layout-a li .pic {

    display: block;

    width: 150px;

    height: 100px;

    border-radius: 10px;

    overflow: hidden;

}



.layout-a li .pic img {

    width: 100%;

    height: 100%

}



.layout-a li .tit {

    width: 100%;

    text-overflow: ellipsis;

    white-space: nowrap;

    overflow: hidden;

    display: block;

    color: #333

}



.layout-a li .info, .layout-a li .info span, .layout-a li .info i {

    font-size: 13px;

    color: #999

}



.layout-a li .info i {

    margin-right: 3px

}



.side-tit h3, .side-tit-normal h3, .side-tit-normal h2 {

    font-size: 20px;

    font-weight: normal;

    margin-top: 35px;

    color: #333;



}



.side-tit-normal h3 {

    display: inline;

}



.side-tit-normal a, .tit-normal a {

    float: right;

    padding: 3px 10px;

    border-radius: 5px;

    border: 1px solid #ddd;

    font-size: 12px;

    margin-top: 3px;

}



.side-tit-normal h3, .side-tit-normal h2 {

    margin-top: 4px;

}



.rank-list li > i {

    width: 15px;

    height: 15px;

    background: #ddd;

    border-radius: 3px;

    display: inline-block;

    vertical-align: middle;

    color: #fff;

    font-weight: bold;

    font-style: normal;

    text-align: center;

    margin-right: 10px;

    line-height: 15px;

    font-size: 12px;

}



.rank-list li:nth-child(1) > i, .rank-list li:nth-child(2) > i, .rank-list li:nth-child(3) > i {

    background: #1789d0;

}



.rank-list li .tit {

    width: 230px;

    text-overflow: ellipsis;

    white-space: nowrap;

    overflow: hidden;

    color: #333;

    display: inline-block;

    vertical-align: middle;

}



.rank-list li .tit:hover {

    color: #1789d0

}



.rank-list {

    width: 100%;

}



.rank-list li {

    width: 320px;

    overflow: hidden;

    margin-top: 8px;

    height: 26px;

    overflow: hidden

}



.rank-list li .info, .rank-list li .info i {

    color: #999;

}



.rank-list li .info {

    display: block;

    width: 55px;



}



.rank-list li .info i {

    margin-right: 0px

}



.flink-list {

    display: none;

    overflow: hidden

}



.flink-list-pic li, .flink-list li {

    margin-right: 20px;

    float: left;

    margin-top: 10px;

}



.flink-list-pic {

    overflow: hidden

}



.flink-list-pic li img {



    width: 105px;

    height: 35px;

}



.flink-nav {

    width: 100%;

    overflow: hidden

}



.flink-nav div {

    float: left;

    display: inline-block;

    text-align: center;

    background: url(../image/tabnav.png) top right no-repeat;

    background-size: 220px 30px;

    height: 30px;

    width: 110px;

    color: #fff;

    margin-right: 3px;

    line-height: 25px;

}



.flink-nav .active {

    background-position: left top

}



.tit-normal h2, .tit-normal h1 {

    font-size: 24px;

    color: #333;

    font-weight: normal;

    margin-bottom: 10px;

    display: inline;

}



.top-list li {

    float: left;

    margin-right: 20px;

    overflow: hidden;

    width: 150px;

    position: relative;

    border-radius: 10px;

    margin-bottom: 15px;



}



.top-list li .tit {

    text-align: center;

    height: 30px;

    line-height: 30px;

    background: rgba(0, 0, 0, 0.6);

    color: #fff;

    position: absolute;

    left: 0;

    bottom: 0;

    width: 100%;

    text-overflow: ellipsis;

    white-space: nowrap;

    overflow: hidden;

}



.top-list li:first-child {

    width: 320px;

    margin-right: 20px;

}



.top-list .pic img {

    width: 100%;

    height: 100%

}



.top-list .pic {

    width: 150px;

    height: 100px;

    display: block

}



.top-list li:first-child .pic {

    width: 320px;

    height: 216px;

    border-radius: 10px;

    overflow: hidden;

}



.top-list {

    width: 680px;

    overflow: hidden;

    margin-top: 5px;

}



.filter {

    margin-top: 10px;

}



.filter input {

    width: 155px;

    height: 28px;

    border: 1px solid #ddd;

    border-radius: 5px 0 0 5px;

    margin-left: 10px;

    padding: 3px 5px;





}



.filter div {

    position: relative;

    margin-bottom: 20px;

    padding-top: 2px;

    text-align: right;



}

.filter div label{

    float: left;

    padding-top:7px;

}



.filter div input {

    border-right: none;

    margin-top: -10px;

}

.filter #name{

    width: 210px;

}



.filter div button {

    width: 30px;

    background: none;

    border: 1px solid #ddd;

    border-left: none;

    border-radius: 0 5px 5px 0;

    height: 36px;

    overflow: hidden;

}



.filter div button i {

    vertical-align: text-top;

}



.filter div input:last-child {

    width: 185px;

    border-radius: 5px;

    border: 1px solid #ddd;

    margin-top: 0px;

}





.filter div ul {

    width: 194px;

    border: 1px solid #ddd;

    overflow: hidden;

    text-align: center;

    position: absolute;

    right: 3px;

    top: 36px;

    z-index: 99;

    background: #fff;

    display: none

}



.filter div ul li {

    padding: 5px 0;

    cursor: pointer;

}



.filter div ul li:hover {

    background: #f1f1f1;

}



.filter .sbm-btn {

    width: 100%;

    color: #fff;

    background: #608db2;

    border-radius: 5px;

    height: 40px;

    line-height: 40px;

    font-size: 16px;

}



.filter .sbm-btn i {

    color: #fff;

    margin-right: 5px;

}



.pic-list li {

    width: 100%;

    overflow: hidden;

    margin-top: 10px;

}



.pic-list li .pic {

    width: 90px;

    height: 60px;

    display: block;

    border-radius: 10px;

    overflow: hidden;

    float: left;



}



.pic-list li .pic img {

    width: 100%;

    height: 100%;



}



.pic-list li .info {

    width: 220px;

    display: block;

    float: right;

}



.pic-list li .info .tit {

    text-overflow: ellipsis;

    width: 100%;

    white-space: nowrap;

    overflow: hidden;

    display: block;

    margin-top: 10px;

}



.pic-list li .info span i {

    margin-left: 5px;

    padding-top: 5px;

}



.bread a {

    color: #1789d0;

}



.page-list {

    text-align: center;

    width: 100%;

    margin-top: 30px;

}



.page-list li {

    display: inline-block;

    border: 1px solid #ddd;

    border-radius: 5px;

    height: 25px;

    line-height: 25px;

    margin: 0 2px;

    overflow: hidden;

}



.page-list li a {

    padding: 5px 10px;

    color: #666;

}



.page-list .active a {

    background: #0f304c;

    color: #fff;

}



.page-list .disable a {

    color: #ddd;

}



.top-list li:hover a, .layout-a li:hover a, .pic-list li:hover a {

    color: #1789d0;

}



.pic-list li:hover img {

    opacity: 0.9;

}



.filter .sbm-btn:hover {

    background: #0f304c;

    cursor: pointer;

}



.banner .point .active {

    background: #1789d0;

}



.flink .con {

    min-height: 80px;

}



/******/

@-webkit-keyframes bounce-down {

    25% {

        -webkit-transform: translateY(-1px);

    }

    50%, 100% {

        -webkit-transform: translateY(0);

    }

    75% {

        -webkit-transform: translateY(1px);

    }

}



.downloadlist li:hover, .layout-d li:hover {

    -webkit-animation: bounce-down 0.5s linear infinite;

    animation: bounce-down 0.5s linear infinite;

    animation-iteration-count: 1;

    -webkit-animation-iteration-count: 1;

    opacity: 0.9;

    background: #fff;

}



/*****/

@-webkit-keyframes swing {

    20%, 40%, 60%, 80%, 100% {

        -webkit-transform-origin: top center;

    }

    20% {

        -webkit-transform: rotate(5deg);

    }

    40% {

        -webkit-transform: rotate(-5deg);

    }

    60% {

        -webkit-transform: rotate(5deg);

    }

    80% {

        -webkit-transform: rotate(-5deg);

    }

    100% {

        -webkit-transform: rotate(0deg);

    }

}



@-moz-keyframes swing {

    20% {

        -moz-transform: rotate(5deg);

    }

    40% {

        -moz-transform: rotate(-5deg);

    }

    60% {

        -moz-transform: rotate(5deg);

    }

    80% {

        -moz-transform: rotate(-5deg);

    }

    100% {

        -moz-transform: rotate(0deg);

    }

}



@-o-keyframes swing {

    20% {

        -o-transform: rotate(5deg);

    }

    40% {

        -o-transform: rotate(-5deg);

    }

    60% {

        -o-transform: rotate(5deg);

    }

    80% {

        -o-transform: rotate(-5deg);

    }

    100% {

        -o-transform: rotate(0deg);

    }

}



@keyframes swing {

    20% {

        transform: rotate(5deg);

    }

    40% {

        transform: rotate(-5deg);

    }

    60% {

        transform: rotate(5deg);

    }

    80% {

        transform: rotate(-5deg);

    }

    100% {

        transform: rotate(0deg);

    }

}



.pic-tit i {

    -webkit-animation: swing 3s linear infinite;

    animation: swing 3s linear infinite;



}



.col-2:hover .pic-tit i {

    -webkit-animation: swing 0.4s linear infinite;

    animation: swing 0.4s linear infinite;



}



.article .art-header h1 {

    font-size: 24px;

    color: #333;

    font-weight: normal;



}



.article a {

    color: #1789d0;

}



.article a:hover {

    text-decoration: underline;

}



.article pre {

    text-align: left !important;

}



.article .art-header .info span {

    margin-right: 20px;

    display: block;

    float: left;



}



.article .art-header .info .cat {

    color: #999;

    float: left;

}



.article .art-header .info span, .article .art-header .info .cat {

    padding: 5px 0;

}



.article .art-header .info {

    overflow: hidden;

}



.article .art-header .info .cat a {

    color: #1789d0;

    margin: 5px;

}



.article .art-header .info {

    margin-top: 10px;

}



.article .text {

    margin-top: 30px;



}



.article .text {

    font-size: 14px;

    line-height: 25px;

}



.article .text p {

    margin-bottom: 10px;

}



.article .specal-text {

    background: #f1f1f1;

    border-top: 1px #ddd solid;

    border-bottom: 1px #ddd solid;

    padding: 10px;

    margin: 10px 0;

}



.article .specal-text a {

    color: #1789d0;

    margin-left: 10px;

}



.article .specal-text a:hover {

    text-decoration: underline;

}



.article .specal-text .tit {

    font-size: 18px;

    color: #333;

    margin-bottom: 5px;

    font-weight: bold;

}



.article .specal-text .tips {

    font-size: 12px;

    color: #999;

}



.list-normal li i {

    background: none;

    display: inline;

    color: #666;

    font-size: 12px;

    width: 12px;

}



.video-list {

    width: 341px;

    margin-top: 10px;

}



.relex {

    margin-top: 5px;

    width: 860px;

    overflow: hidden;

}



.relex .tabitem li {

    width: 320px;

    margin-right: 30px;

}



.layout-b li {

    width: 100% !important;

}



.layout-b li .pic, .layout-c .pic {

    width: 150px;

    height: 100px;

    display: block;

    border-radius: 10px;

    overflow: hidden;

}



.layout-b li .pic img, .layout-c .pic img {

    width: 100%;

    height: 100%;

}



.video-list li > i {

    position: absolute;

    top: 30px;

    font-size: 50px;

    color: #fff;

    left: 55px;

    opacity: 0.6;

}



.video-list li {

    position: relative;

}



.layout-b li, .layout-c li {

    display: flex;

    flex-flow: row nowrap;

    margin-bottom: 20px;

}



.layout-b .info, .layout-c .info {

    flex: 1;

    padding-left: 10px;

}



.layout-b .info .tit a {

    font-size: 18px;

    color: #333;

    width: 100%;

    text-overflow: ellipsis;

    overflow: hidden;

    white-space: nowrap;

}



.layout-b .info .text {

    margin-top: 5px;

    max-height: 54px;

    overflow: hidden;

    font-size: 13px;

    margin-bottom: 3px;

    color: #999;

    line-height: 18px;

}



.layout-b {

    margin-top: 5px;

    width: 100%;

}



.layout-b .info .time .type a {

    color: #1789d0;

    margin-right: 10px;

}



.layout-b .info .time span {

    float: right;

    margin-left: 10px;

    color: #999;

}



.layout-b .info .time span i {

    color: #999;

    margin-left: 3px;

}



.layout-b .info a:hover {

    color: #1789d0;

}



.point-list li:before {

    content: "";

    display: inline-block;

    width: 5px;

    height: 5px;

    background-color: #999;

    border-radius: 50%;

    margin-right: 6px;

    margin-left: 5px;

}



.layout-c li {

    width: 459px;

    padding: 20px;

    float: left;

    margin-bottom: 0;

    border-bottom: 1px #f1f1f1 solid;

}



.layout-c li:nth-child(odd) {

    border-right: 1px solid #f1f1f1;

    padding-left: 0;

    padding-right: 35px;

}



.layout-c li:nth-child(even) {

    padding-right: 0;

    width: 479px;

    padding-left: 25px;

}



.layout-c .info .type {

    float: none;

}



.layout-c .info .type a {

    color: #1789d0;

}



.layout-c {

    border-top: 1px #f1f1f1 solid;

    overflow: hidden;

    margin: 10px 0;

}



.layout-c .info .tit a {

    font-size: 18px;

    color: #333;

    height: 46px;

    overflow: hidden;

    margin-bottom: 10px;

    display: block;

}



.layout-c .info i, .layout-c .info .time span {

    color: #999;

    font-size: 13px;

    line-height: 30px;

}



.layout-c .info .time span {

    margin-right: 10px;

}



.layout-c .info .time a {

    padding: 5px 10px;

    border: 1px #ddd solid;

    border-radius: 5px;

    float: right;

    font-size: 13px;

}



.layout-c .info .type a:hover {

    text-decoration: underline;



}



.layout-c .info a:hover {

    color: #1789d0;

}



.fa {

    margin-right: 3px !important;

}



.error-box {

    width: 500px;

    margin: 0 auto;



    background: url("../image/errorbg.png") no-repeat left top;

    overflow: hidden;

}



.error-num {

    background: #fff;

    margin-left: 160px;

    margin-top: 15px;

}



.error-box .text {

    margin-left: 150px;

    font-size: 18px;

    color: #333;

    margin-top: 10px;

}



.error-box .link {

    text-align: center;

    font-size: 16px;

    margin-top: 20px;

}



.error-box .link a {

    font-size: 16px;

}



.layout-d li {

    width: 311px;

    height: 200px;

    margin-right: 25px;

    float: left;

    position: relative;

    border-radius: 10px;

    overflow: hidden;

    margin-bottom: 25px;



}



.layout-d img {

    width: 100%;

    height: 200px;

    border-radius: 10px;



}



.layout-d {

    width: 1100px;

    margin-top: 10px;

}



.layout-d .info {

    position: absolute;

    width: 100%;

    left: 0;

    background: rgba(0, 0, 0, 0.5);

    bottom: 0;

    border-radius: 0 0 10px 10px;



}



.layout-d .info div, .layout-d .info div i, .layout-d .info span {

    color: #fff;

    font-size: 12px;

}



.layout-d .info .tit {

    padding: 5px 10px;

    text-overflow: ellipsis;

    overflow: hidden;

    white-space: nowrap;

    font-size: 14px;

}



.layout-d .info .time {

    padding: 0 10px;

    opacity: 0.8;

    margin-bottom: 5px;



}



.layout-d .info .time span {

    margin-right: 20px;



}



.tabbox .tabitem li:before {

    content: "";

    display: inline-block;

    width: 5px;

    height: 5px;

    background-color: #999;

    border-radius: 50%;

    margin-right: 6px;

    margin-left: 5px;

}



.tabbox .tabitem li span {

    display: block;

    width: 55px;

}



.layout-b .info .time .type a:hover {

    text-decoration: underline;

}



.page-list .active {

    background: #0f304c;

}



.layout-a li .pic, .layout-b li .pic, .layout-c li .pic, .pic-list .pic {

    border: 1px solid #ddd;

}



.media .detal {

    position: absolute;

    bottom: 60px;

    z-index: 9999;

}



.media .detal > div {

    background: #fff;

    border: 1px solid #adadad;

    border-bottom: none;

    border-radius: 10px;

    padding: 10px 5px;

    width: 120px;

}



.media .detal a {

    padding: 2px 10px;

    background: #ff7e00;

    color: #fff;

    border-radius: 3px;

}



.media .detal a:hover {

    background: #f3b356;

}



.media .detal p {

    margin-bottom: 5px;



}



.media div {

    position: relative;

}



.media div:nth-child(2) .detal div {

    width: 110px;

    height: 110px;

    padding: 0;



}



.media div:nth-child(3) .detal div {

    width: 140px;

    text-align: left;

    height: 40px;

}



.media div:nth-child(3) .detal > i {

    margin-left: -50px;

    height: 15px;



}



.media .detal img {

    width: 100px;

    height: 100px;

    margin-top: 5px;



}



.media div:hover .detal {

    display: block;

}



.media .detal > i {

    vertical-align: text-top;

    font-size: 40px;

    margin-top: -10px;

    height: 10px;

    display: inline-block;

    line-height: 10px;

    color: #fff;

    text-shadow: -1px -1px 3px #999;

}



.totop {

    width: 60px;

    height: 60px;

    position: fixed;

    right: 100px;

    bottom: 45px;

    z-index: 999;

    display: none;

}



.totop i {

    font-size: 50px;

    color: #0f304c;

    opacity: 0.8;

}



.totop:hover i {

    opacity: 1;

}



/****article2******/

.article2 h1, .article2 h2, .article2 h3 {

    font-weight: normal;

    font-size: 35px;

    margin-bottom: 20px;

}



.article2 p {

    line-height: 30px;

    font-size: 16px;



}



.article2 strong {

    font-size: 16px;

    margin-bottom: 5px;

    margin-top: 5px;

    background: #f1f1f1;

    width: 100%;

    display: inline-block;

    padding: 5px;

    border-radius: 5px;

}



/****article******/



.article img, .article video, .article iframe, .article .object {

    max-width: 100% !important;

    margin: 0 auto;

}



.article img {

    height: auto;

}



.article hr {

    background-color: #ccc;

    height: 1px;

    border: 0;

    margin: 5px 0;

}



.article a {

    color: #1789d0;

}



.article a:hover {

    text-decoration: underline;

}



.big-gallery-item {

    display: block !important;

}



.vce-gallery-slider {

    display: none;

}



.bigpic {

    background: rgba(0, 0, 0, 0.9);

    width: 100%;

    height: 1000px;

    vertical-align: middle;

    position: absolute;

    top: 0;

    z-index: 9999999;

    display: none;



}



.bigpic .pic {

    text-align: center;

    float: left;

    width: 80%;

    position: relative;

}



.bigpic img {

    width: 100%;

    height: auto;

    vertical-align: middle;

    display: inline;



}



.bigpic .last, .bigpic .next {

    width: 10% !important;

    font-size: 50px;

    text-align: center;

    cursor: pointer;



}



.bigpic .pic i {

    display: block;

    font-size: 25px;

    color: #fff;

    position: absolute;

    right: 0;



}



.bigpic .last i, .bigpic .next i {

    color: #fff;

    cursor: pointer;

}



.bigpic .last {

    float: left;

}



.bigpic .last i {

    ransform: rotate(-90deg);

    -o-transform: rotate(-90deg);

    -webkit-transform: rotate(-90deg);

    -moz-transform: rotate(-90deg);

}



.bigpic .next {

    float: right;

}



.bigpic .next i {

    ransform: rotate(90deg);

    -o-transform: rotate(90deg);

    -webkit-transform: rotate(90deg);

    -moz-transform: rotate(90deg);

}

.filter div .val{

    display: none;

}

/************2017.4.1*************/

.row-ad{

    min-height: 86px;

    margin: 0 auto;

    overflow: hidden;

    display: block;

}

.row-ad img{

    width: 100%;

    height: 100%;

}

.ad-col3{

    width: 1000px;

}

.ad-col1{

    width: 321px;

    height: auto;

}

.ad-fixed{

    z-index: 999999;

}

.col-1{

    position: relative;

}

.ad-float-left{

    width: 160px;

    height: 600px;

    position: fixed;

    top:190px;

    left: 10px;

}

.minheight{

    min-height: 400px;

    white-space:normal ;

}

.layout-a li{

    overflow: hidden;

    transition: all;

}

.col-0 .toolslist li a

{

    font-size: 20px;

}

/*****************edit 1.14*************/

.layout-a li .pic{

    margin-bottom: 5px;

}

.layout-a li{

    height: 145px;

}

.rank-list li{

    margin-top: 10px;

}

.layout-a li .tit{

    margin-bottom: 5px;

}

/******************************4.20*/

.userSubmit .col-2>h1{

    font-size: 24px;

}

.userSubmit .formItem{

    margin: 20px 0;

}

.userSubmitForm .formItem input{

    border: 1px solid #ddd;

    padding: 5px;

    height: 20px;

    width: 400px;

    border-radius: 5px;

}

.userSubmitForm .alert{

    font-size: 12px;

    color: red;

}

.userSubmit .sbm-btn{

    width: 77%;

    color: #fff;

    background: #608db2;

    border-radius: 5px;

    height: 30px;

    line-height: 30px;

    font-size: 13px;

    cursor: pointer;

}

.userSubmit .sbm-btn:hover{

    opacity: 0.8;

}

.yanzheng{

    display: inline-block;

}

.yanzheng .imgCode{

    width:100px;

    height: 32px;

    display: inline-block;

    vertical-align: middle;

    background: #f1f1f1;

}

.yanzheng .imgCode img{

    width: 100%;

    height: 100%;

}

.yanzheng  input{

    width: 100px!important;

    vertical-align: middle;

}

.tyleList input{

    vertical-align: middle;

    margin-right: 3px;

}

.tyleList{

    width: 76%;

    border:1px solid #ddd;

    margin-top: 10px;

    height: 300px;

    overflow-y: auto;

}

.tyleList>ul>li div{

    padding:10px ;

}

.tyleList li ul{

    padding-left: 20px;

    border-top:1px solid #ddd;

    display: none;



}

.tyleList li{

    cursor: pointer;

}

.tyleList>ul>li li{

    padding:3px 0 ;

}

.formItem .alert{

    display: none;

}

.userSubmit .facePic{

    width:250px;

    height:120px ;

    margin-top: 5px;

    cursor:pointer;

    background: #f1f1f1 url("../image/uploadBg.png") top center no-repeat;

    text-align: center;

}

.userSubmit .facePic img{

    max-width: 100%;

    height: 120px;

}

.art-header{

    border-bottom: 2px #ddd solid;

    padding-bottom: 0px;

}

/********************4.24**************************/

.formItem input[type='radio']{

    display: inline!important;

    width: auto;

    vertical-align: middle;

}

.hasRadio span{

    margin-right: 15px;

}

/*****************************/

.feedback .slideBox{

	width:180px;

	height:30px;

	display:inline-block;

	border: 1px solid #ddd;

	position:relative;

	cursor:pointer;

}

.feedback .slideBox span{

	padding:5px;

	height:20px;

	display:block;

	

}

.feedback .slideBox span:after{

	content:'鈻�';

	float:right;

	color:#999;

	margin-top:2px;

}

.feedback .slideBox  ul{

	position:absolute;

	left:-1px;

	background:#fff;

	border:1px solid #ddd;

	min-width:100%;

	display:none;

	z-index:99;

}

.feedback .slideBox  ul li{

	padding:5px;



}

.feedback .slideBox  ul li:hover{

	background:#f1f1f1;

}

.feedback .yanzheng input{

	border:1px solid #ddd;

	padding:5px;

	height:20px;

	vertical-align:middle;

}

.feedback textarea{

	border:1px solid #ddd;

}

.tabbox .tabnav h2{

    font-size:14px;

}

.toolslist2 {

	display:block;

	width:auto;

}

.toolslist2  ul{

	overflow:hidden;

}

.toolslist2  ul li a{

	font-size:14px;

}

.filter2 div{

	margin-bottom:5px;

}

.tags{

    margin-top:15px;

    padding:10px 0;

    border-top:1px solid #ddd;

}

.tags a{

    color:#1789d0;

    margin-right:15px;

    display:inline-block;

}

.tags a:hover{

    text-decoration: underline;



}

.tags a{

    color:#1789d0;

    margin-right:15px;

    display:inline-block;

    padding:5px 10px;

	border:1px solid #ddd;

	border-radius:3px;

}

.tags a:hover{

    border:1px solid #1789d0;



}

/*****************/

.article td{

	border:1px solid #999;

	padding:10px 20px;

	text-align:center

}

.article th{

	background:#f9f9f9;

	text-align:center

}

.article table{

	width:100%;

	margin-top:15px;

}